In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
base_url = 'https://ws01.cenace.gob.mx:8082/SWPML/SIM/'
params = {
    'sistema'
}

In [26]:
url_eg = 'https://ws01.cenace.gob.mx:8082/SWPML/SIM/SIN/MDA/01PLO-115/2017/11/07/2017/11/07/JSON'
response_json = requests.get(url_eg).json()

In [35]:
data = []
for res in response_json['Resultados']:
    clv_nodo = res['clv_nodo']
    
    for valor in res['Valores']:
        row = {'clv_nodo': clv_nodo, 
               'fecha': valor['fecha'], 
               'hora': valor['hora'], 
               'pml': valor['pml'], 
               'pml_ene': valor['pml_ene'], 
               'pml_per': valor['pml_per'], 
               'pml_cng': valor['pml_cng']}
        data.append(row)
df = pd.DataFrame(data)

In [37]:
len(df)

24

In [11]:
df.head()

,nombre,proceso,sistema,area,Resultados,status
0,PML,MDA,SIN,PÚBLICA,"{'clv_nodo': '01PLO-115', 'Valores': [{'fecha'...",OK

In [12]:
df

,nombre,proceso,sistema,area,Resultados,status
0,PML,MDA,SIN,PÚBLICA,"{'clv_nodo': '01PLO-115', 'Valores': [{'fecha'...",OK

In [13]:
data

{'nombre': 'PML',
 'proceso': 'MDA',
 'sistema': 'SIN',
 'area': 'PÚBLICA',
 'Resultados': [{'clv_nodo': '01PLO-115',
   'Valores': [{'fecha': '2017-11-07',
     'hora': '1',
     'pml': '1177.12',
     'pml_ene': '1109.73',
     'pml_per': '69.65',
     'pml_cng': '-2.27'},
    {'fecha': '2017-11-07',
     'hora': '2',
     'pml': '1005.79',
     'pml_ene': '947.64',
     'pml_per': '59.13',
     'pml_cng': '-0.98'},
    {'fecha': '2017-11-07',
     'hora': '3',
     'pml': '942.56',
     'pml_ene': '886.02',
     'pml_per': '56.78',
     'pml_cng': '-0.24'},
    {'fecha': '2017-11-07',
     'hora': '4',
     'pml': '875.2',
     'pml_ene': '822.18',
     'pml_per': '52.92',
     'pml_cng': '0.1'},
    {'fecha': '2017-11-07',
     'hora': '5',
     'pml': '877.47',
     'pml_ene': '822.33',
     'pml_per': '55',
     'pml_cng': '0.14'},
    {'fecha': '2017-11-07',
     'hora': '6',
     'pml': '978.23',
     'pml_ene': '918.75',
     'pml_per': '59.98',
     'pml_cng': '-0.51'},
    {'fecha': '2017-11-07',
     'hora': '7',
     'pml': '1277.05',
     'pml_ene': '1205.27',
     'pml_per': '75.52',
     'pml_cng': '-3.73'},
    {'fecha': '2017-11-07',
     'hora': '8',
     'pml': '1714.12',
     'pml_ene': '1611.8',
     'pml_per': '101.51',
     'pml_cng': '0.82'},
    {'fecha': '2017-11-07',
     'hora': '9',
     'pml': '2516.26',
     'pml_ene': '2381.05',
     'pml_per': '134.06',
     'pml_cng': '1.14'},
    {'fecha': '2017-11-07',
     'hora': '10',
     'pml': '2505.58',
     'pml_ene': '2378.01',
     'pml_per': '127.57',
     'pml_cng': '0'},
    {'fecha': '2017-11-07',
     'hora': '11',
     'pml': '3163.35',
     'pml_ene': '3014.95',
     'pml_per': '148.41',
     'pml_cng': '0'},
    {'fecha': '2017-11-07',
     'hora': '12',
     'pml': '3194.58',
     'pml_ene': '3052.58',
     'pml_per': '142',
     'pml_cng': '0'},
    {'fecha': '2017-11-07',
     'hora': '13',
     'pml': '2952.92',
     'pml_ene': '2818.69',
     'pml_per': '134.23',
     'pml_cng': '0'},
    {'fecha': '2017-11-07',
     'hora': '14',
     'pml': '2953.29',
     'pml_ene': '2818.9',
     'pml_per': '134.4',
     'pml_cng': '0'},
    {'fecha': '2017-11-07',
     'hora': '15',
     'pml': '3184.92',
     'pml_ene': '3041.41',
     'pml_per': '143.51',
     'pml_cng': '0'},
    {'fecha': '2017-11-07',
     'hora': '16',
     'pml': '3236.64',
     'pml_ene': '3086.07',
     'pml_per': '150.56',
     'pml_cng': '0'},
    {'fecha': '2017-11-07',
     'hora': '17',
     'pml': '2863.33',
     'pml_ene': '2719.85',
     'pml_per': '143.11',
     'pml_cng': '0.36'},
    {'fecha': '2017-11-07',
     'hora': '18',
     'pml': '2753.1',
     'pml_ene': '2608.44',
     'pml_per': '144.11',
     'pml_cng': '0.56'},
    {'fecha': '2017-11-07',
     'hora': '19',
     'pml': '3141.18',
     'pml_ene': '2950.37',
     'pml_per': '190.81',
     'pml_cng': '0'},
    {'fecha': '2017-11-07',
     'hora': '20',
     'pml': '2973.57',
     'pml_ene': '2779.21',
     'pml_per': '194.07',
     'pml_cng': '0.29'},
    {'fecha': '2017-11-07',
     'hora': '21',
     'pml': '3027.56',
     'pml_ene': '2820.16',
     'pml_per': '207.07',
     'pml_cng': '0.33'},
    {'fecha': '2017-11-07',
     'hora': '22',
     'pml': '2837.72',
     'pml_ene': '2653.67',
     'pml_per': '183',
     'pml_cng': '1.04'},
    {'fecha': '2017-11-07',
     'hora': '23',
     'pml': '2465.99',
     'pml_ene': '2304.76',
     'pml_per': '160.23',
     'pml_cng': '1'},
    {'fecha': '2017-11-07',
     'hora': '24',
     'pml': '1576.61',
     'pml_ene': '1473.12',
     'pml_per': '102.83',
     'pml_cng': '0.66'}]}],
 'status': 'OK'}